.header{
     text-align: left;
     margin-bottom: 2rem;
     display: flex;
     justify-content: left;
     align-items: center;
}
.h2{
     font-weight: bold;
     font-size: 19px;
     color: var(--primary);
     font-family: 'montserrat';
}
[data-theme="dark"] .h2{
     color: white;
}
.icon-user{
     position: absolute;
     top: 1rem;
     left: 1rem;
     width: 50px;
     border-radius: 50%;
}

.icon-logo{
     position: absolute;
     cursor: pointer;
     width: 100px;
     left:0;
     right:0;
   
     margin-left: auto;
     margin-right: auto
}