.hidden {
    visibility: hidden;
}


.searchbar {
    background-color: #d3e2ed6d;
    color: rgba(33, 41, 92, 0.6);
    width: 30%;
    margin: 1rem auto;
    height: 41px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;    
        box-sizing: border-box;
        padding: 0 8px;
    }

    .iconAndText {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    input {
        border: 0;
        background: transparent;

        &:active, &:focus, &:focus-within {
            outline: none;
        }
    }
}

[data-theme="dark"] {
    .searchbar {
        background-color: #333333;
        color: white;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {
    .searchbar{
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .searchbar{
        width: 95%;
    }
}
