.hidden {
    visibility: hidden;
}


.searchbar {
    background-color: #d3e2ed6d;
    color: rgba(33, 41, 92, 0.6);
    width: 336px;
    height: 41px;
    border-radius: 20px;
    margin: 10px 0;
    
    div {
        padding: 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .iconAndText {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    input {
        border: 0;
        background: transparent;

        &:active, &:focus, &:focus-within {
            outline: none;
        }
    }
}

[data-theme="dark"] {
    .searchbar {
        background-color: #333333;
        color: white;
    }
}