.inputGroup{  
    font-size: 19px;
    text-align: left;
    input {
        width: 90%;
        padding: 0 8px;
        height: 41px;
        margin: 8px 0;
        border: 1px solid var(--primary);
        border-radius: 8px;
        text-align: left;

        &::placeholder {
            font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
        }

        &:focus-visible, &:focus-within, &:focus {
            border: 0;
        }

    }
}

.inputLabel{
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
    text-align: left;
    color: var(--primary);
}

[data-theme="dark"]{
    .inputLabel {
        color: white
    }
}
