$contrastLight: rgba(211, 226, 237, 0.5);

.companiesPage{
    h3{
        margin-top: 2rem;
        color: var(--primary);
    }
}
.company {
    width: 30%;
    background: $contrastLight;
    margin: 25px auto;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

    .companyDetails{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 9px;

        h2 {
            margin: 0;
        }
    }
}

.secondary {
    background-color: var(--secondary);
    margin: 0 0 0 auto;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.RecommendText{
    font-weight: 500;
    font-size: 14px;
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .company{
        width: 60%;
    }
    
}

@media only screen and (max-width:700px){
    .company {
        width: 95%;
    }

}

/* dark mode styles */
[data-theme="dark"] {
    .company {
        background-color: var(--altDark);
        color: white;
    }
}
