.button {
    color: white;
    height: 30px;
    background-color: var(--primary);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
