.chat {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.avatar {
    width: 60px;
    height: 60px;
}