$small-circle: 10px;

.chat {
    margin: .5rem 0;
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 15% auto 3%;
    gap: 3px;

    .details {
        margin: auto 0;
        cursor: pointer;
    }
    span {
        display: flex;
        align-items: center;
        gap: 10px;

        h3{ 
            color: var(--primary);
        }
    }

}

.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid var(--secondary);
}

.openedIndicator {
    width: $small-circle;
    height: $small-circle;
    border-radius: 50%;
    background-color: var(--primary);
    margin: auto 0;
}
// Individual chat
.chathead{
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    margin-top: 1rem;
    z-index: 10;
    .backIcon{
        cursor: pointer;
    }
    h3{
        // font-weight: 500;
        font-size: 16px;
        color: var(--primary);
    }
}
.chatContainer{
    width: max-content;
    max-width: 50vw;
    display: block;
    margin: 2rem 0;
    .chatMessage{
        background: var(--primary);
        width: max-content;
        height: max-content;
        padding: .5rem 1rem;
        color: white;
        max-width: 90%;
    }
    .date{
        font-weight: 400;
        font-size: 11px;
        color: #000000;
    }
}
.you{
    margin-left: 1rem;
    .chatMessage{
        border-radius: 19px 19px 19px 0px;
        margin-right: auto;
        text-align: left;
    }
    text-align: left;
}
.me{
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
    .chatMessage{
        border-radius: 19px 19px 0px 19px;
        margin-left: auto;
        text-align: left;
    }
}
// [ID]
.input {
    display: flex;
    position: fixed;
    bottom: .5rem;
    left: 0;
    right: 0;
    width: 96%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: auto;
    .imgSpan{
        background-color: var(--contrast);
        border-radius: 5px;
        padding: .2rem;
        color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--primary);
        color: var(--primary);
        font-size: 15px;

        &::placeholder {
            color: rgba(33, 41, 92, 0.7);
        }

        &:focus-visible, &:focus-within, &:focus {
            border-radius: 2px;
            border-bottom: 2px solid var(--primary);
        }
    }
    input:focus{
        outline: none;
    }
    .sendBtn:hover{
        scale: 1.2;
        cursor: pointer;
    }
}

.pickImg{
    border-radius: 5px;
    background-color: var(--contrast);
    padding: .5rem;
    margin: 0 0 5% 5%;
    width: min-content;
    position: absolute;
    bottom: 0;
    z-index: 199;
    img{
        width: 100px;
        height: 70px;
    }
    .closeIcon{
        color: red;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -10px;
        margin-right: -10px;
        cursor: pointer;
    }
    .closeIcon:hover{
        scale: 1.2;
    }
}
// .addChatBtn {
//     bottom: 4rem;
// }
.hidden{
    display: none;
}
[data-theme="dark"]{
    .openedIndicator {
        background-color: var(--secondary);
    }
    .chathead{
        h3{
            color: white;
        }
    }
}
@media only screen and (max-width:700px){
    .pickImg{
        bottom: 30px;
    }
}