.main{
     min-height: 100vh;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
}
.cont{
     display: block;
}
.logo{
     padding: 2rem;
     display: block;
     animation: bounce 2s infinite;
}
.text{
     margin: 1rem;
     font-size: xx-large;
     font-weight: bolder;
     color: var(--primary);
}
[data-theme="dark"] .text{
     color: var(--contrast);
}

@keyframes bounce{
     0%{
          transform: translateY(-1.2rem);
     }
     50%{
          transform: translateY(1.2rem);
     }
     100%{
          transform: translateY(-1.2rem);
     }
}