.main{
     min-height: 100vh;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
}
.cont{
     display: block;
}
.logo{
     padding: 2rem;
     display: block;
     animation: bounce 2s infinite;
}
.text{
     margin: 1rem;
     font-size: xx-large;
     font-weight: bolder;
     color: var(--primary);
}
[data-theme="dark"] .text{
     color: var(--contrast);
}

.footer{
     position: absolute;
     bottom: 24px;
     font-weight: 600;
     margin: auto;
     font-size: 13px;
     color: var(--primary)
}
[data-theme="dark"] .footer{
     color: white;
}
.startvest{
     margin-right: 2rem;
}
@keyframes bounce{
     0%{
          transform: translateY(-1.2rem);
     }
     50%{
          transform: translateY(1.2rem);
     }
     100%{
          transform: translateY(-1.2rem);
     }
}