@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBackdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    @include flex-center();
    
    .modalContainer{
        background: white;
        position: relative;
        width: 50%; 
        min-height: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        @include flex-center();
        padding: 1rem;
        transition: all 0.25s ease;
        // box-shadow: 0px 0px 3px 2px darken($color: #fff, $amount: 15);

        h2, h4, h5, p { 
            text-align: center;
            margin: 5px 0;
        }

        .cancelIcon{
            position: absolute;
            top:.5rem;
            right:.5rem;
            cursor: pointer;
        }
    }
}

[data-theme='dark']{
    .modalBackdrop {
        // background-color: lighten($color:#212121, $amount:2);
        
        .modalContainer {
            box-shadow: 0px 0px 5px 2px darken($color:#212121, $amount:2);
            background: var(--altDark);
        }
    
    }
}
@media only screen and (max-width: 600px) {
    .modalContainer{
        width: 90% !important;
        min-height: 10rem;
    }
}



