$contrastLight: rgba(211, 226, 237, 0.4);
$contrastDark: rgba(100, 100, 100, 0.5);
$postDark: rgba(77, 77, 77, 0.2);
$shareText: rgba(33, 41, 92, 0.6);

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalBackdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    @include flex-center();
    z-index: 999;
    
    .modalContainer{
        z-index: 1000 !important;
        background: white;
        position: relative;
        width: 40%; 
        // min-height: 20rem;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        @include flex-center();
        padding: 1rem;
        transition: all 0.25s ease;
        // box-shadow: 0px 0px 3px 2px darken($color: #fff, $amount: 15);

        h2, h4, h5, p { 
            text-align: center;
            margin: 5px 0;
        }

        .cancelIcon{
            position: absolute;
            top:.5rem;
            right:.5rem;
            cursor: pointer;
        }
    }
}

// Modal styles
.header{
    color: var(--primary);
     font-size: 20px;
     font-weight: 600;
}
.sharelink{
    width: max-content;
    max-width: 90%;
    border-radius: 20px;
    padding: .5rem 1rem;
    background: $contrastLight;
    color: $shareText;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-weight: 500;
}
.copyButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.copyButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 0 .5rem;
}
.copylogo{
    color: white;
}
.logo{
    color: var(--primary);
}
.logo:hover{
    scale: 1.2;
}
.shareContainer{
    width: 100%;
    .text{
        text-align: left;
        color: var(--primary);
        font-weight: 600;
        font-size: 15px;
        margin-left: 5%;
    }
    .icons{
        width: 90%;
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin: 2rem auto 1rem auto;
    }
}
// Error ModalProps
.errorText{
    color: var(--primary);
    opacity: .9;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.errorIcon{
    color: red;
    margin: 2rem auto;
}
[data-theme='dark']{
    .modalBackdrop {
        // background-color: lighten($color:#212121, $amount:2);
        
        .modalContainer {
            box-shadow: 0px 0px 5px 2px darken($color:#212121, $amount:2);
            background: var(--altDark);
        }
    
    }
    .header{
        color: white;
    }
    .sharelink{
        background: $contrastDark;
        color: white;
    }
    .shareContainer{
        .text{
            color: white;
        }
    }
    .logo{
        color: white;
    }
}
@media only screen and (max-width: 600px) {
    .modalContainer{
        width: 80% !important;
        min-height: 10rem;
    }
}



