.contentContainer{
     width: 100%;
     display: flex;
}
.navbar{
     background-color: var(--primary);
     width: 20%;
     margin: 0 !important;
     min-height: 100vh;
     height: max-content;
     font-family: 'Work sans';
     text-align: center;
     .logoContainer{
          margin-top: 2rem;
     }
     h3{
          color: white;
          font-weight: 500;
          font-size: 25px;
          margin: 4rem auto;
     }
}
.navItems{
     
     span{
          text-align: left;
          color: white;
          text-decoration: none;
          font-size: 17px;
          cursor: pointer;
          display: block;
          margin: 2rem 0 0 2rem;
     }

     .span:hover{
          transform: translateX(10px);
     }

     .navItemsLogo{
          margin-right: .5rem;
     }
     .navItemsLogoActive{
          color: var(--secondary);
          
     }
}
.logOut{
     text-align: left;
     margin: 6rem 0 0 2rem;
     color: white;
}
.logOut:hover  {
     scale: 0.9;
     cursor: pointer;
}

// Users
.userContent{
     width: 80%;
     padding-left: 2rem;
     h1{
          font-weight: 500;
          font-size: 30px;
          color: var(--primary);
     }
     h3{
          color: var(--primary);
     }
}
.scrollTable{
     max-height: 70vh;
     overflow-y: auto;
}
.userContainer{
     background-color: #d3e2ed6d;
     border-radius: 10px;
     width: 99%;
     margin: 1rem 0;
     border-collapse: collapse;
     padding: 1rem 0.5rem;
     
     
     th{
          color: var(--primary);
          padding-top: .5rem;
          padding-left: .5rem;
     }
     tr{
          font-size: 16px;
          text-align: left;
          color: var(--primary);
     }
     tr:hover {
          background-color: #d3e2ed98;
          cursor: pointer;
     }
     td{
          padding: 1rem .5rem;
     }
}

.userCount{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     color: var(--primary);
     opacity: 0.5;
}

// 
.emailContent{
     max-height: 100vh;
     overflow-y: hidden;

     button{
          padding: .5rem 1rem;
     }
}
.emailListCont{
     display: flex;
     width: 80%;
     align-items: center;
     justify-content: space-between;
     padding: 1rem 2rem;
     border: 1px solid var(--primary);
     background-color: var(--contrast);
     margin: 2rem 0;
     border-radius: 10px;
     .h2{
          font-size: 18px;
          color: var(--primary);
          margin-right: 2rem;
          font-weight: 600;
     }
     .select{
          font-size: 16px;
          padding: .25rem .5rem;
          background-color: white;
          border: 0;
          border-radius: 5px;
          color: var(--primary);
          font-weight: 500;
          cursor: pointer;
     }
    
}
.deviceType{
     margin-top: 1rem;
     span{
          margin-right: 1rem;
          color: var(--primary);
          cursor: pointer;
     }
}
.deviceActive{
     font-weight: 900;
}
.frame{
     border: 3px solid var(--primary);
     border-radius: 10px;
     margin: 2rem 0;
     text-align: center;
     justify-self: center;
}
