$padding: 5px 10px;
$light-shadow: #cacaca;
$dark-shadow: #333333;
$contrastLight: rgba(211, 226, 237, 0.4);

.postActions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $padding;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        cursor: pointer;
        p{
            margin: 0;
            font-size: 11px;
            font-weight: bold;
        }
    }
}

.post {
    height: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.15);
    margin: 2rem auto;
    width: 30%;

    input{
        background-color: $contrastLight;
        border: none;
        border-radius: 20px;
        margin: 1rem auto;
        outline: none;
        font-size: 16px;
        width: 90%;
        padding: 0 .5rem;
        height: 41px;
        text-align: left;
        color: var(--primary);

        &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            padding: 0 .5rem;
        }
    }

    .newPost{
        display: flex;
        justify-content:space-between;
        align-items:center;
        width: 100%;
        gap: 10px;
        padding-bottom: 1rem !important;

        .newPostIcon{
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        span{
            background-color: $contrastLight;
            border-radius: 5px;
            padding: .1rem;
            color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .buttonContainer{
            margin-right: 8%;
            button{
                background-color: var(--primary);
                padding: .5rem 1rem;
                color: white;
                border-radius: 10px;
                width: 70px;
                cursor: pointer;
                
            }
        }
        
    }
    
}

.postContent {
    padding: $padding;
}

.imageHolder {
    width: 100%;
    height: 11.25em;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: $padding;
    height: 4.375em;


    div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h3{
            font-size: 14px;
            margin: 0;
        }
        p { 
            margin: 0; 
            font-size: 11px;
            font-weight: bold;
            color: var(--foreground);
            font-weight: 400;
        }
    }

    span {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--primary);
    }
}
.icon{
    color: var(--secondary);
}
.comments {
    margin-top: 10px;
    padding: 0 4px;

    span {
        width: 100%;
        height: 20px;
    }

    .comment {
        margin: 8px 0;
        padding: 4px;
        border-radius: 5px;
        background: var(--contrast);
    }
}

.showMoreBtn {
    font-weight: bold;
    cursor: pointer;
    color: var(--primary);
    font-size: 12px;
}

[data-theme="light"] {
    .postActions {
        color: var(--primary);
    }

    .post {
        box-shadow: 2px 1px 5px -1px $light-shadow;
    }
    
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {
    .post{
         width: 60%;
    }
}
@media only screen and (max-width: 700px) {
    .post{
         width: 90%;
    }
}