$bglight: rgba(211, 226, 237, 0.7);
$bgdark: rgba(77, 77, 77, 0.5);

.cancelled{
    animation: toast-right-out 1s;
    // visibility: hidden;
    // opacity: 0;
    // transition: visibility 0s 2s, opacity 2s linear;
}
.headText{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary);
    margin: 2rem 0;
    text-align: left;
}
.notification{
    width: 30%;
    height: max-content;
    border-radius: 6px;
    padding: .5rem 1rem;
    margin: 1rem auto;
    box-sizing: border-box;
    background: $bglight;
    color: var(--primary);
    
    h3 { font-size: 16px; }
    p { font-size: 14px; }
    span {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .end { margin-left: auto; cursor:pointer;}
    .end:hover{
        scale: 1.2;
    }
}

[data-theme="dark"]{
    .notification {
        background: var(--altDark);
        color: #fff;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {
    .notification{
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .notification{
        width: 100%;
    }
}

@keyframes toast-right-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(150%);
      opacity: 0;
    }
  }