.container{
     margin: auto;
     text-align: center;
     font-size: 19px;
}
.headImage{
     width: 30%;
}
.header{
     color: var(--primary);
     font-size: 35px;
     font-weight: 600;
}
[data-theme="dark"] .header {
     color: white;
}
.form{
     width: 30%;
     margin: auto;
}

.forgot{
     text-align: right;
     color: var(--primary);
     font-size: 13px;
     font-style: normal;
     cursor: pointer;
     margin-bottom: 2rem;
}
[data-theme="dark"] .forgot{
     color: white;
}
.btnPrimary{
     background-color: var(--primary);
     padding: 1rem 2rem;
     font-size: 19px;
     color: white;
     width: 100%;
     cursor: pointer;
     margin: 1rem auto;
}
.altLoginText{
     color: var(--primary);
     font-size: 13px;
     font-style: normal;
     margin: 2rem auto;
     font-weight: 600;
}
[data-theme="dark"] .altLoginText{
     color: white;
}
.subtext{
     max-width: 30%;
     font-weight: 500;
     font-size: 16px;
     margin: 1rem auto;
     text-align: left;
}
@media only screen and (max-width: 600px) {
     .headImage{
          width: 90%;
     } 
     .form{
          width: 90%;
     }
     .subtext{
          max-width: 90%;
     }
}