@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --primary: #21295c;
  --secondary: #04de00;
  --contrast: #d3e2ed;
  --black: #000000;

  --background: #ffffff;
  --foreground: #21295c;
}

[data-theme='dark'] {
  --background: #212121;
  --foreground: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, Droid Sans, Helvetica Neue;
}

.adminFont {
  font-family: 'Work Sans';
}

.secondary {
  color: var(--secondary);
}


button {
  border: 0;
  border-radius: 10px;
}

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
/* the track (progress bar) NOT covered by the handle. */
::-webkit-scrollbar-track-piece{
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--contrast); */
  cursor: pointer;
}