@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --primary: #21295c;
  --secondary: #04de00;
  --contrast: #d3e2ed;
  --white: #ffffff;
  --black: #000000;

  --dark-primary: #212121;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, Droid Sans, Helvetica Neue;
}

.admin-font {
  font-family: 'Work Sans';
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark-primary);
  }
}
