@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --primary: #21295c;
  --secondary: #04de00;
  --contrast: #d3e2ed;
  --black: #000000;

  --background: #ffffff;
  --foreground: #21295c;
}

[data-theme='dark'] {
  --background: #212121;
  --foreground: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, Droid Sans, Helvetica Neue;
}

.admin-font {
  font-family: 'Work Sans';
}

* {
  box-sizing: border-box;
}
