@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}
:root {
  --primary: #21295c;
  --secondary: #04de00;
  --contrast: #d3e2ed;
  --black: #000000;

  --background: #ffffff;
  --foreground: #21295c;
  --altDark:   #1E1E1E;
  --dark-text: #101828;
}

[data-theme='dark'] {
  --background: #1E1E1E;
  --foreground: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, Droid Sans, Helvetica Neue;
}

body.backdrop-no-scroll {
  overflow: hidden;
}
.global_container{
  background: var(--background);
}
.adminFont {
  font-family: 'Work Sans';
}

.secondary {
  color: var(--secondary);
}
.primaryText {
  color: var(--primary);
}
.disabled{
  opacity: .5;
  cursor:not-allowed;
}

h3, p { margin: 0; }


button {
  border: 0;
  border-radius: 10px;
}

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
/* the track (progress bar) NOT covered by the handle. */
::-webkit-scrollbar-track-piece{
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--contrast); */
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* For the pages visible on the tab bar */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px 9px 0;
  font-family: 'Montserrat', sans-serif;
}

.content {
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
}

.container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.space-between {
  justify-content: space-between;
}

.chip {
  border-radius: 6px;
  padding: 4px;
  font-size: 13px;
  margin: 10px;
}

.primary { 
  background: var(--primary) !important; 
  color: white;
}

.contrast {
  background: var(--contrast)
}

.swiper-pagination {
  position: absolute;
  top: 0%;
}

.swiper-pagination-bullet {
  width: 60px !important; 
  height: 10px !important;
  border-radius: 10px !important;
}

/* Utility Classes for simple styling solutions */
.flex { display: flex; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.font-bold { font-weight: bold; }
.heading-small { font-size: 18px; }
.font-small { font-size: 14px; }
.text-center { text-align: center; }
.gap { gap: 10px; }

.font-large { font-size: 20px; }

.rti--container{
  --rti-border: var(--primary);
  
}