.waitlistPage {
    height: 100vh;
    overflow-y: scroll;
}

.landingPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    span {
        display: inherit;
    }


    .headerCta {
        width: 120px;
    }
}

.illustrationHolder {
    display: flex;
    justify-content: center;
}

.introduction{
    background-image: url('/assets/grid.png');
    padding: 20px 10px;

    h1 {
        color: var(--primary);
        font-weight: bold;
    }
}

.internaDetails{
    background: var(--secondary);
    padding: 20px 10px;
    
    h4 { 
        color: white;
        margin: 0;
    }
    p { margin: 0; }
    
    .descriptionGroup {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 25px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
    }
}

section.landingPageWelcome{
    background-color: var(--primary);
    padding: 2rem 10px;

    .descriptionGroup {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
        h4, p { 
            color: #fff !important;
            margin: 0;
        }
    }

}

.connectWithOthers {
    background: var(--secondary);
    text-align: right;
    padding-right: 2rem;
    padding-top: 30px;

    h3 { 
        margin: 0; 
        font-size: 30px;
        text-align: right;

        &:first-of-type {
            padding-right: 3rem;
        }
    }

}

.shareExperiences {
    padding-left: 2rem;
    padding-top: 30px;
    text-align: left;
    background: var(--primary);
    h3 { 
        margin: 0; 
        font-size: 30px;
        text-align: left;

        &:first-of-type {
            padding-right: 3rem;
        }
    }


}


.points {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 5px;

    span {
        background-color: var(--primary);
        color: var(--secondary);
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.waitlistForm {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .formHeading {
        text-align: center;
        * {
            margin: 10px 0;
        }

        p { font-size: 14px; }
    }
}

.waitlistInput {
    border-radius: 20px;
    border: 0;
    background-color: #d3e2ed77;

        
    &::placeholder {
        color: var(--primary);
    }
}





.waitlistButton {
    color: white;
    width: 50%;
    height: 30px;
    margin: 20px auto;
    background-color: var(--primary);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
}

.dismissButton {
    color: white;
    width: 70%;
    height: 30px;
    margin: 20px auto;
    background-color: var(--primary);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif , 'sans-serif';
}

.gifHolder {
    width: 100%;
    height: 190px;
    position: relative;
    transform: scale(0.8);
}


.important {
    color: var(--secondary);
}

.ourSponsors {
    text-align: center;

    h5 {
        padding: 0 10px;
    }

    button{
        margin-bottom: 20px;
    }
}

.carouselHolder {
    overflow: hidden;
}
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-left: 25%;

    .carouselSlide {
        width: 200px;
        flex-shrink: 0;
        height: max-content;
        margin-right: 15px;
    }
}

//Dark Mode Styles
[data-theme='dark'] {
    .waitlistPage {
        background-color: var(--background);
    }
    .waitlistInput {
       background-color: #333333;

       &::placeholder {
        color: white;
       }
    }

    .introduction {
        background-image: none;
        background-color: var(--background);

        h1 {
            color: white;
        }
    }

    .descriptionGroup {

        p { color: var(--primary); }
    }

}


